<div id="mc_embed_signup">
    <form action="http://coderdojochi.us2.list-manage.com/subscribe/post?u=1cf2aba5bf83d6c4ff8bdda35&amp;id=b967cb646a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
        <div class="mc-field-group">
            <label for="mce-FNAME">First Name  <span class="asterisk">*</span></label>
            <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
        </div>
        <div class="mc-field-group">
            <label for="mce-LNAME">Last Name  <span class="asterisk">*</span></label>
            <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
        </div>
        <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div class="mc-field-group">
            <label for="mce-CHILD_NAME">Child's Full Name </label>
            <input type="text" value="" name="CHILD_NAME" class="" id="mce-CHILD_NAME">
        </div>
        <div class="mc-field-group">
            <label for="mce-CHILD_AGE">Child's Age </label>
            <input type="number" name="CHILD_AGE" class="" value="" id="mce-CHILD_AGE">
        </div>
        <div class="mc-field-group">
            <label for="mce-GENDER">Child's Gender </label>
            <input type="text" value="" name="GENDER" class="" id="mce-GENDER">
        </div>

        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <div class="clear">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
    </form>
</div>
