---
layout: page
title: "CoderDojoChi Classes"
---

<h2 class="title">Upcoming Classes</h2>
<div class="classlist">
{% for class in site.data.classes.upcoming %}
    <div class="class">
        <div class="classlist-datetime"><a href="/classes/{{ class.date }}" rel="bookmark" title="{{ post.title }}">{{ class.date | date: "%B %d, %Y" }}</a></div>
    </div>
{% endfor %}
</div>


<h2 class="title">Past Classes</h2>
<div class="classlist">
{% for class in site.data.classes.past %}
    <div class="class">
        <div class="classlist-datetime"><a href="/classes/{{ class.date }}" rel="bookmark" title="{{ post.title }}">{{ class.date | date: "%B %d, %Y" }}</a></div>
    </div>
{% endfor %}
</div>
