---
layout: page
title: "CoderDojoChi Sponsors"
---

<div class="mentors">
{% for sponsor_data in site.data.sponsors %}
    {% assign key = sponsor_data[0] %}
    {% assign sponsor = sponsor_data[1] %}
    <div class="mentor" id="{{key}}">
        <img src="/assets/images/sponsors/{% if key %}{{ key }}.jpg{% else %}default.png{% endif %}" class="mentor-img" width="400" alt="{{ sponsor.name }}'s picture" />
        <div class="mentor-content">
            <h3 class="mentor-name">{{ sponsor.name }}</h3>
            <h4 class="mentor-role">{{ sponsor.role }}</h4>
            <p>{{ sponsor.bio }}</p>
        </div>
    </div>
{% endfor %}
</div>
